body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: white;
    font-family: 'Calibri', sans-serif !important;
}


.mt-100 {
    margin-top: 50px;
}

.mb-100 {
    margin-bottom: 50px;
}

.card {
    border-radius: 1px !important;
}

.card-header {
    background-color: #fff;
}

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

.btn-sm, .btn-group-sm > .btn {
    padding: .25rem .5rem;
    font-size: .765625rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.material-icons.md-18 {
    font-size: 18px;
    color: black
}
